@define-color hyprlavender #A57FC4;
@define-color base rgba(59, 59, 59, 0.6);
@define-color red #E78284;
@define-color dbase rgba(45, 45, 45, 0.8);

* {
    font-family: 'Hasklug NFM';
    font-size: 15px;
    font-weight: 350;
	color : white;
}


#window {
    margin: 2px;
    padding: 0px;
    border: 2px solid @hyprlavender;
    border-radius: 0px;
    background-color: @base;
    animation: slideIn 0.1s ease-in-out both;
}

@keyframe slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}

#inner-box {
    margin: 5px;
    padding: 0px;
    border: none;
    background-color: @base;
    animation: fadeIn 0.1s ease-in-out both;
	color: white;
}

@keyframe fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}


#input {
    margin: 10px;
    border-radius: 5px;
	background-color: @dbase;
	border-color: rgb(25, 25, 25);
}

#scroll {
    margin-bottom: 10px;
}

#entry {
    margin: 0px 15px;
}

#entry:selected {
    border-radius: 0px;
    border: none;
    outline: !important;
}

#entry > box {
    margin-left: 5px;
}

#entry image {
    padding-right: 10px;
}
